<!doctype html>
<html>
    <head>
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        


            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="../stilovi/style.css">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
          
            <style type="text/css">
                i
                { 
                  color: rgb(221, 43, 43) 
                  
                }
                #isMap
                {
                  height: 350px;
                  width: 100%;
                }
            </style>
        
          </head>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Startna stranica</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a href="/users/logout" class="btn btn-secondary">Odjavi se</a>
              </form>
            </div>
          </nav>
        <div>
            <div class="card" style="background-color: #bbc8f0; margin-top: 3%; margin-left: 1.5%; margin-right: 37%; flex-direction: row;">
                <div style="margin: 1%;"><label>Room </label><div id ="room"><%=room%></div></div>
                <div style="margin: 1%;"><label>Moj email: </label><div id ="email"><%=email%></div></div>
                <div style="margin: 1%;"><label>Rezultat: </label><div id ="result"><%=game.result%></div></div>
                <div style="margin: 1%;"><label>Trenutan broj figura na tabli: </label><div id ="numbersOfFigure"><%=game.numbersOfFigure%></div></div>
                <div style="margin: 1%;"><label>Vreme kada je partija zapoceta: </label><div id ="vreme"><%=vreme%></div></div>
                <div style="margin: 1%;"><div>Vreme trajanja igre:</div><div id="idCountDown"></div></div>
            </div>  
            <div class="row">
              <div id="obaIgraca">
          
              </div>
              <div id="divChess">
                <div class="chessboard" id="chessboard">
                  <div class=" W" data-x="0" data-y="0"><img src="images/B_rook.png"></div>
                  <div class=" B" data-x="1" data-y="0"><img src="images/B_knight.png"></div>
                  <div class=" W" data-x="2" data-y="0"><img src="images/B_bishop.png"></div>
                  <div class=" B" data-x="3" data-y="0"><img src="images/B_queen.png"></div>
                  <div class=" W" data-x="4" data-y="0"><img src="images/B_king.png"></div>
                  <div class=" B" data-x="5" data-y="0"><img src="images/B_bishop.png"></div>
                  <div class=" W" data-x="6" data-y="0"><img src="images/B_knight.png"></div>
                  <div class=" B" data-x="7" data-y="0"><img src="images/B_rook.png"></div>
                  <div class=" B" data-x="0" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" W" data-x="1" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" B" data-x="2" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" W" data-x="3" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" B" data-x="4" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" W" data-x="5" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" B" data-x="6" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" W" data-x="7" data-y="1"><img src="images/B_pawn.png"></div>
                  <div class=" W" data-x="0" data-y="2"></div>
                  <div class=" B" data-x="1" data-y="2"></div>
                  <div class=" W" data-x="2" data-y="2"></div>
                  <div class=" B" data-x="3" data-y="2"></div>
                  <div class=" W" data-x="4" data-y="2"></div>
                  <div class=" B" data-x="5" data-y="2"></div>
                  <div class=" W" data-x="6" data-y="2"></div>
                  <div class=" B" data-x="7" data-y="2"></div>
                  <div class=" B" data-x="0" data-y="3"></div>
                  <div class=" W" data-x="1" data-y="3"></div>
                  <div class=" B" data-x="2" data-y="3"></div>
                  <div class=" W" data-x="3" data-y="3"></div>
                  <div class=" B" data-x="4" data-y="3"></div>
                  <div class=" W" data-x="5" data-y="3"></div>
                  <div class=" B" data-x="6" data-y="3"></div>
                  <div class=" W" data-x="7" data-y="3"></div>
                  <div class=" W" data-x="0" data-y="4"></div>
                  <div class=" B" data-x="1" data-y="4"></div>
                  <div class=" W" data-x="2" data-y="4"></div>
                  <div class=" B" data-x="3" data-y="4"></div>
                  <div class=" W" data-x="4" data-y="4"></div>
                  <div class=" B" data-x="5" data-y="4"></div>
                  <div class=" W" data-x="6" data-y="4"></div>
                  <div class=" B" data-x="7" data-y="4"></div>
                  <div class=" B" data-x="0" data-y="5"></div>
                  <div class=" W" data-x="1" data-y="5"></div>
                  <div class=" B" data-x="2" data-y="5"></div>
                  <div class=" W" data-x="3" data-y="5"></div>
                  <div class=" B" data-x="4" data-y="5"></div>
                  <div class=" W" data-x="5" data-y="5"></div>
                  <div class=" B" data-x="6" data-y="5"></div>
                  <div class=" W" data-x="7" data-y="5"></div>
                  <div class=" W" data-x="0" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" B" data-x="1" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" W" data-x="2" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" B" data-x="3" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" W" data-x="4" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" B" data-x="5" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" W" data-x="6" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" B" data-x="7" data-y="6"><img src="images/W_pawn.png"></div>
                  <div class=" B" data-x="0" data-y="7"><img src="images/W_rook.png"></div>
                  <div class=" W" data-x="1" data-y="7"><img src="images/W_knight.png"></div>
                  <div class=" B" data-x="2" data-y="7"><img src="images/W_bishop.png"></div>
                  <div class=" W" data-x="3" data-y="7"><img src="images/W_queen.png"></div>
                  <div class=" B" data-x="4" data-y="7"><img src="images/W_king.png"></div>
                  <div class=" W" data-x="5" data-y="7"><img src="images/W_bishop.png"></div>
                  <div class=" B" data-x="6" data-y="7"><img src="images/W_knight.png"></div>
                  <div class=" W" data-x="7" data-y="7"><img src="images/W_rook.png"></div>
                </div>
              </div>
              <form id="poruke-forma">
              <div style="width: 100%; height: 85%; max-height: 800px; max-width:400px; background-color: #ffffffc7; margin: 5%; overflow:scroll;" id="messages">           
              </div>
              <div style="width:90%; margin-left:5%; margin-right:5%;">
              <input name="message" class="form-control" placeholder="Unesi poruku..." required autocomplete="off" id="inputMessage">
              <button type="submit" class="btn btn-primary" id="messageFormButton" style="margin-top: 2%;">Pošalji poruku      
              </button>
              </div>
              </form>
            </div>
        </div>
           <script src="/socket.io/socket.io.js"></script>
           <script src="./public/js/socket.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    </body>
</html>

